$background-color: #eee;
$width-calendar-day: 100px;
$height-calendar-day: 100px;
$font-size-calendar-day: 30px;
$padding-calendar: 10px;
$gap-calendar-day: 1px;
$width-calendar: calc(
  $width-calendar-day * 7 + $gap-calendar-day * 6 + $padding-calendar * 2
);
$border-color: #000;
$hover-color: #ffbfcb;
$start-days: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
